<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>
<div th:fragment="navlinks">
    <a href="/">index</a>
    <a href="/register">addUser</a>
    <a href="/login">login</a>
    <a href="/reservations">All reservations</a>
</div>

<div th:fragment="menubar">
    <nav class="navbar navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="/">Flight Reservation Demo</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item text-light">
                    <a class="btn btn-secondary" th:href="@{/updateProfile}">
                        Welcome <span th:text="${#authentication.name}"></span></a>
                </li>
                <li class="nav-item text-light active">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item text-light">
                    <a class="nav-link text-white" href="/login">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a sec:authorize="hasAuthority('ADMIN')"
                       class="nav-link text-white" href="/addFlight">Add Flight</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a sec:authorize="hasAuthority('ADMIN')"
                       class="nav-link text-white" href="/flights">All Flights</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item text-light">
                    <a class="nav-link text-white" href="/register">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item text-light">
                    <a class="nav-link text-white" href="/reservations">All reservations</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item text-light">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<footer th:fragment="footer" class="navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">
    <span class="mr-auto"></span>
    <div class="text-muted">
        <h6>© 2018</h6>
    </div>
</footer>

<div th:fragment="flightInfo(reservedFlight)" th:object="${reservedFlight.flight}">
    <div class="form-group row">
        <label for="flightNumber" class="col-sm-2 col-form-label col-form-label-sm">Flight Number:</label>
        <div class="col-sm-10">
            <input type="text" th:value="*{flightNumber}" class="form-control form-control-sm" id="flightNumber"
                   disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="airportFrom" class="col-sm-2 col-form-label col-form-label-sm">From Airport:</label>
        <div class="col-sm-10">
            <input type="text" th:value="*{from.name + ' (' + from.code + ')'}" class="form-control form-control-sm"
                   id="airportFrom"
                   disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="airportTo" class="col-sm-2 col-form-label col-form-label-sm">To Airport:</label>
        <div class="col-sm-10">
            <input type="text" th:value="*{to.name + ' (' + to.code + ')'}" class="form-control form-control-sm"
                   id="airportTo"
                   disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="flightDate" class="col-sm-2 col-form-label col-form-label-sm">Date:</label>
        <div class="col-sm-10">
            <input type="text" th:value="*{departure + ' -> ' + arrival}" class="form-control form-control-sm"
                   id="flightDate"
                   disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="flightPrice" class="col-sm-2 col-form-label col-form-label-sm">Prices:</label>
        <div class="col-sm-10">
            <input type="text"
                   th:value="*{'Economy: $' + priceEconomy + ', Business: $' + priceBusiness + ', First Class: $' + priceFirstclass}"
                   class="form-control form-control-sm" id="flightPrice"
                   disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="aircraft" class="col-sm-2 col-form-label col-form-label-sm">Aircraft:</label>
        <div class="col-sm-10">
            <input type="text" th:value="*{aircraft}" class="form-control form-control-sm" id="aircraft"
                   disabled>
        </div>
    </div>
</div>

</body>
</html>