<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:divth="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Search Flight</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="base :: menubar"></div>
<div class="container">
    <h1 class="text-center">Welcome to Flights Reservation Demo!</h1>
</div>

<div class="container mb-5">
    <h3 class="text-center py-3 pl-4 pr-5">All Flights</h3>

    <form th:action="@{/processSearch}"
          th:object="${flightSearch}"
          method="post">
        <div class="row py-2">
            <div class="col">
                <div class="btn-group btn-group-toggle">
                    <button type="submit" name="direction" value="OneWay"
                            th:class="*{'btn btn-outline-secondary btn-sm' + (direction == 'OneWay' ? ' active' : '')}">
                        One Way
                    </button>
                    <button type="submit" name="direction" value="RoundTrip"
                            th:class="*{'btn btn-outline-secondary btn-sm' + (direction == 'RoundTrip' ? ' active' : '')}">
                        Round Trip
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label th:for="inputDepartFrom">Depart From:</label>
                <select id="inputDepartFrom" class="form-control" th:field="*{from}">
                    <option value="">Depart from:</option>
                    <option th:each="airport : ${airports}" th:value="${airport.code}"
                            th:text="${airport.code + ' | ' + airport.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('from')}" class="alert alert-danger" th:errors="*{from}"></div>
            </div>
            <div class="col">
                <label for="inputArriveTo">Arrive To:</label>
                <select id="inputArriveTo" class="form-control" th:field="*{to}">
                    <option value="">Arrive to:</option>
                    <option th:each="airport : ${airports}" th:value="${airport.code}"
                            th:text="${airport.code + ' | ' + airport.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('to')}" class="alert alert-danger" th:errors="*{to}"></div>
            </div>
            <div class="col">
                <label for="inputDepartureDate">Departure Date:</label>
                <input id="inputDepartureDate" th:field="*{date}" type="date" class="form-control"
                       placeholder="Departure Date:">
                <div th:if="${#fields.hasErrors('date')}" class="alert alert-danger" th:errors="*{date}"></div>
            </div>
            <div class="col" th:if="*{direction == 'RoundTrip'}">
                <label for="inputReturnDate">Return Date:</label>
                <input id="inputReturnDate" th:field="*{dateReturn}" type="date" class="form-control"
                       placeholder="Return Date:">
            </div>
            <div class="col py-3">
                <button id="buttonSubmit" type="submit" name="direction" th:value="*{direction}"
                        class="btn btn-primary mt-3">Search
                </button>
            </div>
        </div>
    </form>

    <table th:if="${flightOptions}" th:object="${flightOptions}" class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Aircraft</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight: ${flightOptions}">
            <td th:text="${flight.id}"></td>
            <td th:text="${flight.flightNumber}"></td>
            <td th:text="${flight.from.code}"></td>
            <td th:text="${flight.to.code}"></td>
            <td th:text="${flight.departure + ' - ' + flight.arrival }"></td>
            <td th:text="${'$' + flight.priceEconomy + ' ($' + flight.priceBusiness + ')' }"></td>
            <td th:text="${flight.aircraft}"></td>
            <td>
                <a th:if="${flightSearch.direction == 'OneWay'}" type="button" class="btn btn-secondary"
                   th:href="@{/reserveFlight/{id}(id=${flight.id})}">Select</a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr th:if="${flightsBack}"/>
    <table th:if="${flightsBack}" th:object="${flightsBack}" class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Aircraft</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight: ${flightsBack}">
            <td th:text="${flight.id}"></td>
            <td th:text="${flight.flightNumber}"></td>
            <td th:text="${flight.from.code}"></td>
            <td th:text="${flight.to.code}"></td>
            <td th:text="${flight.departure + ' - ' + flight.arrival }"></td>
            <td th:text="${'$' + flight.priceEconomy + ' ($' + flight.priceBusiness + ')' }"></td>
            <td th:text="${flight.aircraft}"></td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>